@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

#root {
  margin: 0px;
  padding: 0px;
  
  font-family: Outfit;
  box-sizing: border-box;
}
body{
  background-image: repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 60px),repeating-linear-gradient(0deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),repeating-linear-gradient(90deg, hsla(57,0%,42%,0.09) 0px, hsla(57,0%,42%,0.09) 1px,transparent 1px, transparent 10px),linear-gradient(90deg, rgb(20,20,20),rgb(20,20,20));
  color: white;
}

*{
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}