@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #171721;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.loader {
    width: fit-content;
    font-size: 40px;
    line-height: 1.5;
    font-family: Dancing Script;
    font-weight: bold;
    color: #0000;
    -webkit-text-stroke: 0.5px #8C48F0;
    background:
        radial-gradient(1.13em at 50% 1.6em, #8C48F0 99%, #0000 101%) calc(50% - 1.6em) 0/3.2em 100% text,
        radial-gradient(1.13em at 50% -0.8em, #0000 99%, #8C48F0 101%) 50% .8em/3.2em 100% repeat-x text;
    animation: l9 2s linear infinite;
}

.loader:before {
    content: "Lokesh";
}

@keyframes l9 {
    to {
        background-position: calc(50% + 1.6em) 0, calc(50% + 3.2em) .8em;
    }
}